/* Overall waybar styling */
* {
    min-height: 0;
    min-width: 0;
    font-family: "Iosevka Nerd Font Mono";
    font-size: 13px;
    font-weight: 600;
}

window#waybar {
    transition-property: background-color;
    transition-duration: 0.5s;
    background-color: rgba(15, 15, 32, 0.80);
}

/* Workspaces! */

#workspaces button {
    min-height: 0;
    min-width: 0;
    padding: 0.2em 0.6em;
    margin: 5px 4px;
    border-radius: 7px;
    /* background-color: #1e1e2e; */
    background-color: #383850;
    color: #cdd6f4;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    color: #1e1e2e;
    background-color: #cdd6f4;
}

#workspaces button.active {
    background-color: #6d719e;
    color: #cdd6f4;
}

#workspaces button.urgent {
    background-color: #1e1e2e;
    color: #f38ba8;
}

/* Modules */

#custom-wofi_launcher,
#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#network,
#tray,
#window, 
#battery,
#backlight{
    min-height: 0;
    min-width: 0;
    padding: 0.2em 0.9em;
    border-radius: 7px;
    margin: 5px 4px;
    /* background-color: #1e1e2e; */
    background-color: #383850;
}

#custom-wofi_launcher {
    font-family: "FiraCode Nerd Font Mono";
    font-size: 15px;
    color: #6d719e;
}

#custom-sep {
    padding: 0px;
    color: #585b70;
}

window#waybar.empty #window {
    background-color: transparent;
}

#network {
    color: #94e2d5;
}

#backlight {
    color: #cba6f7;
}

#clock {
    color: #74c7ec;
}

#clock.simpleclock {
    color: #89b4fa;
}

#window {
    color: #a6e3a1;
}

#pulseaudio {
    color: #b4befe;
}

#pulseaudio.muted {
    color: #b4befe;
}

#custom-logo {
    color: #89b4fa;
}

#battery {
    color: #fad4bb;
}

#battery.warning {
    background: orange;
}
battery.critical {
    background: red; 
}

#custom-power {
    background-color: #f38ba8;
    color: #1e1e2e;
    font-family: "FiraCode Nerd Font Mono";
    font-size: 15px;
}

#custom-power:hover {
    background-color: #ffffff;
    color: #f38ba8;
}

