* {
    min-height: 0;
    min-width: 0;
    font-family: "FiraCode Nerd Font Propo";
    font-size: 13px;
    font-weight: 600;
}

window#waybar {
    transition-property: background-color;
    transition-duration: 0.5s;
    /* background-color: #1e1e2e; */
    /* background-color: #181825; */
    background-color: #11111b;
    /* background-color: rgba(24, 24, 37, 0.6); */
}

#workspaces button {
    min-height: 0;
    min-width: 0;
    padding: 0.3em 0.6em;
    margin: 5px 4px;
    border-radius: 4px;
    /* background-color: #181825; */
    background-color: #1e1e2e;
    color: #cdd6f4;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    color: #1e1e2e;
    background-color: #cdd6f4;
}

#workspaces button.active {
    background-color: #6d719e;
    color: #cdd6f4;
}

#workspaces button.urgent {
    background-color: #1e1e2e;
    color: #f38ba8;
}

#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#cpu,
#tray,
#window, 
#battery,
#backlight{
    min-height: 0;
    min-width: 0;
    padding: 0.1em 0.6em;
    border-radius: 2px 4px;
    margin: 3px 2px;
    /* background-color: #1e1e2e; */
    background-color: #2b2b49;
}

#custom-sep {
    padding: 0px;
    color: #585b70;
}

window#waybar.empty #window {
    background-color: transparent;
}

#cpu {
    color: #94e2d5;
}

#backlight {
    color: #cba6f7;
}

#clock {
    color: #74c7ec;
}

#clock.simpleclock {
    color: #89b4fa;
}

#window {
    color: #a6e3a1;
}

#pulseaudio {
    color: #b4befe;
}

#pulseaudio.muted {
    color: #a6adc8;
}

#custom-logo {
    color: #89b4fa;
}

#custom-power {
    color: #f38ba8;
    font-size: 14px;
}
#custom-power:hover {
    background-color: #f38ba8;
    color: #1e1e2e;
    font-size: 14px;
}

#battery {
    color: #fad4bb;
}

#battery.warning {
    background: green;
}
battery.critical {
    background: red; 
}


